.card-movie {
  box-sizing: border-box;
  /* Asegura que el padding y el borde no afecten el ancho total */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  max-height: 90vh;
  margin: 1.5rem auto;
  padding: 1.5rem;
  border: 0.4rem solid var(--color-azul);
  border-radius: 2rem;
  background-color: var(--color-azul);
  position: relative;
  overflow: hidden;
}

.main-card-layout {
  background-color: var(--color-azul);
  border-radius: 1.5rem;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-side {
  flex: 0 0 40%;
  max-height: 100%;
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datos-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 1rem;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.datos-container::-webkit-scrollbar {
  width: 8px;
}

.sdatos-container::-webkit-scrollbar-thumb {
  background: #ff8c00;
  border-radius: 10px;
}

.info-movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-movie p,
.info-movie p span,
.descripcion {
  font-size: 2rem;
}

.listado-generos {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-generos,
.descripcion-titulo {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}

.generos {
  color: var(--color-blanco);
  font-size: 2rem;
  padding: 0 0.5rem;
}

.descripcion {
  width: 100%;
  padding: 0 2rem;
  overflow-y: auto;
}

.descripcion-texto {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 10px;
}

/* pantallas chicas */
@media only screen and (max-width: 768px) {
  .card-movie {
    flex-direction: column;
    align-items: center;
    /* Alinea la card al centro */
    margin-right: 0;
    /* Evita el margen derecho innecesario */
  }

  .img-container {
    width: 90%;
    min-height: auto;
    margin-top: 20px;
    /* Ajusta el margen superior */
    margin-bottom: 20px;
    /* Ajusta el margen inferior */
    padding: 0;
    /* Elimina el padding para ocupar el ancho completo */
  }

  .info-container {
    width: 100%;
    position: static;
    padding: 2rem;
    text-align: center;
  }

  .btn-container {
    width: 100%;
    /* Ajusta el ancho al 100% */
    display: flex;
    justify-content: space-around;
    /* Espaciado uniforme entre los botones */
  }

  .datos {
    width: 100%;
    text-align: center;
  }

  .info-movie {
    width: 100%;
  }

  .listado-generos {
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en varias líneas si es necesario */
    justify-content: center;
    /* Centra los elementos en el contenedor */
  }

  .generos {
    margin: 0.5rem;
    /* Agrega espacio entre los elementos de género */
  }

  .descripcion {
    width: 100%;
    padding: 0.5rem;
    /* Ajusta el relleno de la descripción */
  }

  .titulo {
    font-size: 2rem;
    /* Ajusta el tamaño del título en pantallas pequeñas */
  }

}